.table-based {
  margin: 2em;
}

.table {
  table-layout: fixed;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner-border {
  width: 10em;
  height: 10em;
  border-width: 0.5em;
}

.action {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
